<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


{{#each products}}
<div class="row">
    <div class="container">

        {{#each this}}


        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="{{ this.imagePath}}" style="height: 300px">
                    {{!-- <span class="card-title">Card Title</span> --}}
                </div>
                <div class="card-content">
                    <h4 class="strong truncate">
                        {{this.title}}
                    </h4>
                    <p>{{ this.description}}</p>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="left">
                            <div class="price">
                                $ {{ this.price}}
                            </div>
                        </div>
                        <div class="right">
                            <a class="waves-effect waves-light btn"><i class="material-icons right">shopping_cart</i>Add
                                to
                                Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>

{{/each}}